.col-md-4 {
  border: 2px solid black !important;
  z-index: 1;
}

.custom-card {
  border: 2px solid #ccc;
}

.card {
  height: 150% !important;
  transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.col-sm-7 {
  margin: 1%;
  border: 1px solid black;
  height: 100% !important;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.card:hover {
  transform: scale(1.05);
}

.card-body {
  display: none;
}

.card:hover img {
  filter: blur(2px);
}

.btn {
  width: 200px;
}

.card-text {
  text-align: center;
}

.card:hover .card-body {
  display: block;
  position: absolute;
  color: white;
}

@media (min-width: 320px) {
  .card:hover .card-body {
    top: 8%;
    left: 15%;
  }
}

@media (min-width: 540px) {
  .card:hover .card-body {
    top: 15%;
    left: 25%;
  }
}
